input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.line::before {
    content: "";
    display: block;
    width: 65%;
    border-top: 5px solid black;
    margin: 40px 0 55px 20px;
    opacity: 0.7;
    border-radius: 4px;
}

.cart-bg {
    /* background-color: #E0CDCC; */
    background: url("https://i.pinimg.com/originals/74/e4/bd/74e4bdb587d31242b0e1618cc7d17b5d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.cart {
    /* padding-top: 24px; */
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 1100px;
    height: 500px;
    margin: 0 auto;
    background-color: #F9E6E4;
}

.cart__info {}

.cart-side {
    width: 100%;
    height: 100%;
}


/* Begin Cart-left side  */

.cart-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.cart-left__list {
    height: 100%;
    display: flex;
    margin-bottom: 20px;
    font-size: 18px;
    height: 100%;
    margin-right: 12px;
    margin-left: 12px;
}

.cart-left__item {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}


/* line */

.cart-left__about .cart-left__item:first-child span {
    margin-left: 12px;
}


/* .cart-left__about .cart-left__item:last-child span {
    margin-left: 40px;
} */

.cart-left__about::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 15px;
    /* position: absolute; */
    border-bottom: 1px solid rgba(221, 217, 217, 0.719);
}

.cart-left__about .cart-left__item:last-child {
    padding-right: 0;
}


/* wall */

.cart-left__about .cart-left__item::before {
    /* content: ""; */
    display: block;
    font-size: 12px;
    width: 30px;
    height: 1px;
    background-color: rgb(145, 141, 141);
    position: absolute;
    right: -12px;
    text-align: center;
    bottom: 10px;
    transform: rotate(90deg);
}

.cart-left__about .cart-left__item:last-child:before {
    display: none;
}

.cart-left__about {
    width: 100%;
    padding: 18px;
    letter-spacing: 0.05em;
    font-size: 18px;
    font-weight: 700;
    color: rgb(177, 176, 176);
    /* color: black; */
}

.cart-left__item img {
    width: 100%;
}

.cart-left__qty {
    background-color: white;
    display: flex;
}

.cart-left__qty .qty__item {}

.cart-left__qty i:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    opacity: 0.6;
}

.cart-left__qty .qty__input {
    border: 1px solid #000;
    display: inline-block;
    line-height: 38px;
    /* padding: 0 20px; */
    font-size: 18px;
    width: 62px;
    text-align: center;
}

.cart-left__qty i {
    margin: auto;
}

.cart-left__qty i:nth-child(3) {
    margin-left: 12px;
}

.cart-left__qty i:first-child {
    margin-right: 12px;
}

.cart-left__qty:hover::before,
.cart-left__qty:hover::after {
    cursor: pointer;
}

.cart-left__item span {
    margin: 0 auto;
}

.list-wrap {
    height: 425px;
    overflow-x: hidden;
    overflow-y: scroll;
}


/* End Cart-left side  */


/* Begin Cart-right side */

.cart-right {
    align-self: baseline;
}

.cart-right__total {
    margin-left: 30px;
}

.cart-right__price {
    /* text-align: center; */
    /* margin-left: 10px; */
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.cart-right__price span {
    font-size: 0.8em;
}

.cart-right__price h1 {
    margin-left: 10px;
    letter-spacing: 0.4em;
}

.cart-right__shipping {
    font-size: 0.8em;
}

.cart-right__shipping>span {
    line-height: 34px;
}

.cart-right__input-container>span {
    line-height: 22px;
    margin-left: 0;
    letter-spacing: 0.05em;
}


/* start checkbox */

.cart-right__input-container {
    margin: 40px 0 50px;
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cart-right__input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.cart-right__input-container:hover input~.checkmark {
    background-color: #f3ccc6;
}


/* box */

.cart-right__input-container .checkmark {
    /* border: 1px solid #d19186; */
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 4px;
}


/* mark */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cart-right__input-container input:checked~.checkmark:after {
    display: block;
}

.cart-right__input-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid rgb(75, 73, 73);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* end checkbox */

.cart-right__checkout {
    margin-left: 30px;
}

.cart-right__checkout-bt {
    /* padding: 0 30px; */
    line-height: 40px;
    display: block;
    border-radius: 50px;
    width: 140px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

.cart-right__checkout-bt:hover {
    cursor: pointer;
}

.cart-right__checkout-bt--checkout {
    background-color: black;
    letter-spacing: 0.22em;
}

.cart-right__checkout-bt--checkout:hover {
    background-color: #fff;
    transition: 0.3s all linear;
}

.cart-right__checkout-bt--checkout:hover span {
    color: black;
    transition: 0.3s all linear;
}

.cart-right__checkout-bt--checkout span {
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
}

.cart-right__checkout-bt--paypal {
    margin-top: 16px;
}

.cart-right__checkout-bt--paypal:hover {
    opacity: 0.6;
    transition: 0.2s all linear;
}

.logo_word {
    /* font-style: normal; */
    font-family: Verdana, Tahoma;
    font-weight: bold;
    font-size: 18px;
}

.logo_icon {}


/* End Cart-right side */

.shake:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* border */


/* scrollbar */

::-webkit-scrollbar {
    width: 9px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(207, 205, 205);
    border-radius: 6px;
}

 ::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 6px;
}


/* Handle on hover */


/* 
 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
} */