:root {
    --pink: #E0CDCC;
}

body {
    background: var(--pink);
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.imgArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
}

.js__img {
    width: 190px;
    height: 280px;
}

.js__button {
    padding: 15px;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: var(--pink)
}

.profile-button:focus {
    background: var(--pink);
    box-shadow: none
}

.profile-button:active {
    background: var(--pink);
    box-shadow: none
}

.back:hover {
    color: var(--pink);
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.lbFile {
    border: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.lbFile:hover {
    color: #BA68C8;
}