section {
    color: #111;
}

.category {
    padding: 122px 0 0;
    background: #fff;
    color: black;
}
.category-top {
    margin-bottom: 50px;
}

.category-right-top-item:first-child {
    flex: 2;
    font-size: 17px;
    font-family: var(--main-text-font);
    font-weight: bold;
    padding-left: 30px;
}

.category-right-top-item button {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    color: #111;
    border: 1px solid #dddddd;
    cursor: pointer;
    outline: none;
}

.category-right-top-item {
    flex: 1;
    padding: 0 12px;
}

.category-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
    color: #111;
    outline: none;
}

.category-right-top-item p {
    color: #111;
}

.row {
    display: flex;
}

.products {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gap: 20px 20px;
}

.products .product-item img {
    max-width: 100%;
    height: 100%;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
}

ul.products li .product-top .product-thumb {
    display: block;
}

ul.products li:hover .product-top .product-thumb img {
    filter: opacity(80%)
}

ul.products li .product-top .product-thumb img {
    display: block;
}

ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: black;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: -40px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}

ul.products li:hover a.buy-now {
    bottom: 0px;
}

ul.products li .product-info {
    padding: 10px 0px;
}

ul.products li .product-info a {
    display: block;
    text-decoration: none;
}

.products li .product-info a.product-cat {
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
    text-align: center;
}

ul.products li .product-info a.product-name {
    color: #334862;
    padding: 3px 0px;
    text-align: center;
}

ul.products li .product-info .product-price {
    text-align: center;
}

ul.products li .product-info .product-price span {
    color: black;
    padding: 2px 0px;
    font-weight: 700;
    text-align: center;
}

ul.products li .product-info .product-price span sub {
    color: black;
}
@media only screen and (max-width: 46.1875em) {
    .products{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        grid-gap: 20px 20px;
    }
}


/* Tablet (>=739 and <1024)*/

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .products{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        grid-gap: 20px 20px;
    }
}


/* PC (>=1024)*/

@media only screen and (min-width: 64em) {
    .products{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        grid-gap: 20px 20px;
    }
}
