/* font */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@font-face {
    font-family: "Lora";
    src: url("../../fonts/word-font/lora/Lora-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("https://fonts.shopifycdn.com/open_sans/opensans_n7.8bfd11295a1edbb769a778900a2afc48b16848e7.woff2?h1=c2t1bGxjYW5keXZpZXRuYW0uY29t&hmac=254b48adc630a6f6a4451d125332263c03e5ac44d9de4777b8f374d5b309aa3b");
}


/* Clear fix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/* main */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lora", "Open Sans", sans-serif;
}

body {}