<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://Java.Sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0"> -->
  <!-- <servlet>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>com.k19.controllers.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping> -->
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <!-- test -->
  <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>username</param-name>
        <param-value>hn58013@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>jalocphhronrqqsx</param-value>
    </context-param>
  <!--  -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>demo.jsp</welcome-file>
    <welcome-file>sample.jsp</welcome-file>
  </welcome-file-list>

  <!-- 404 Page -->
 
  <!-- Error Page -->
  <!-- <error-page>
    <location>/general-error.html</location>
  </error-page> -->
</web-app>